body {
    padding: 10px;
}

.form-control {
    border-radius: 5px;
    border: 1px solid;
    border-color: lightgrey;
    outline-color: rgb(148, 28, 152);
    padding: 6px 10px;
    width: 300px;
    height: 38px;
    box-sizing: border-box;
    
}

.form-control:focus {
    box-shadow: 3px 3px rgba(151, 219, 235, 0.5);
}

.textarea_input:focus {
    box-shadow: 3px 3px 4px  rgba(151, 219, 235, 0.5);
}

.body-body {
    margin-left: 16px;
}

.submit-button {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: lightskyblue;
}

.submit-button:hover {
    background-color: antiquewhite;
}

.submit-button:focus {
    background-color: azure;
}

