{% extends "auctions/layout.html" %}

{% block body %}
    <div class="body-body">
        <h2>Create Listing</h2>

        <form action="{% url 'create' %}" method="post">
                <div class="form-group">
                
                        {{ form.title }}
                </div>

                <div class="form-group">
                        {{ form.category }}
                </div>

                <div class="form-group">
                        {{ form.description }}
                </div>

                <div class="form-group">
                        {{ form.starting_bid }}
                </div>
        </form>      
    </div>
        


{% endblock %}